.screen__inside {
    display: flex;
}

.input__letter {
    padding: 4px;
    margin: 4px;
    border: 1px solid orangered;
}

.input__letter-once {
    opacity: 0;
}

.wrong__collector {
    display: flex;
}

.wrong__cube {
    width: 20px;
    height: 20px;
    border: 2px solid gray;
    margin: 3px;
}